:root{
    --dark-blue:#012677;
    --blue:#5c65c0;
    --skyblue :#00b4fc;
    --light-blue:#005bc5;

}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: poppins,sans-serif;
}
body{
    background: linear-gradient(45deg, white,pink);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.profile-card{
    background: pink;
    width:400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color:#c76868;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-left: 10px dotted #df7272;
}
.profile-card .profile-pic{
    margin-top: 15px;
    overflow: hidden;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
}
.profile-card .profile-pic img{
    border-radius: 10px;
    
}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}
.profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h2{
    margin-top: 20px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.profile-details .intro h4{
    background: #ffd5d5;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
    text-align: center;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .social i{
    font-size: 16px;
    background-color:#ffd5d5;
    margin: 5px;
    height: 35px;
    width:35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border:1px solid rgb(236, 101, 101);
}
.profile-details .contact-info{
    background-color: #ffd5d5;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(238, 84, 84);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #f75858;
    text-align: center;
    color:#fff;
    transition: 0.5s;
}
.row .icon:hover{
    transform:scale(1.2);
    border:1px solid rgb(180, 80, 80);
}
.row .content{
    min-width: 70%;
}
.row .content span{
    font-size: 12px;
}
.download-btn{
    background: linear-gradient(45deg, #f64c57,#e21b5a);
    color:#fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border:none;
}
/*****about section ****/
.about{
    background: rgba(194, 194, 186, 0.349);
    max-width: 800px;
    padding: 4rem 3rem;
    border-radius: 10px;
    border-top: 10px dotted #f75757;
     margin: 15px;
}
.about h1{
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.about h1::after{
    position: absolute;
    content: "";
    top:50%;
    right:-50%;
    width:45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57,#e21b5a);
}
.about h2{
    color:#f2f2f2;
    font-size: 2rem;
    margin:0.5rem 0;
    text-align: center;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}

.badge{
 margin: 10px 0px ;
}



.about p{
    color:#555;
    margin:1.5rem 0;
}
.about .work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.work .workbox{
    display: flex;
    justify-content: space-between;
    border-radius:8px;
    border:1px solid #bd7272;
    padding: 1rem;
    margin:1rem;

}
.work .workbox .desc{
    width:75%;
    color:#555;
}
.work .workbox .desc h3{
    color:#f2f2f2;
    margin-bottom: 3px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.work .workbox .desc p{
    margin:0px;
}
/***Responsive Design ***/
@media(max-width:768px)
{
    .about{
        width: 1005;
        max-width: 400px;
        padding:1rem;
        margin:1rem;

    }
    .about h1{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
}

